.main-content {
	padding-bottom: 100px;
}

.motto-header {
	color: $pros-dark-blue;
	font-size: 1.8em;
	font-weight: 100 !important;
	letter-spacing: -1px !important;
	line-height: 45px;
	padding-bottom: 10px;
}

.motto-sub-header {
	font-size: 1.3em;
	color: $pros-lite-blue;
	padding-bottom: 35px;
}

.motto-img-txt {
	color: $pros-lite-blue;
}

.section-title {
	font-weight: 300;
}

.pros-section-content {

}

$main-bg:#f6f6f6;