<div class="row main-content">
  <div class="medium-12 large-4 column">
    <div class="row">
      <div class="small-11 small-offset-1">
        <!--<i class="fa fa-bar-chart-o fa-6 text-inset"></i>-->
        <!--<img src="./images/lackimage.png" class="main-img"></img>-->
		<i class="fa fa-cogs fa-6"></i>
      </div>
    </div>
  </div>
  <div class="medium-12 large-8 column">
    <div class="row">
      <div class="small-11 text-right">
        <div class="motto-header">Get SID file...</div>
        <div class="motto-sub-header">at the Click of a Mouse.</div>
        <!--<login class-attr="button small greeny radius">Sign In</login>-->
      </div>
    </div>
  </div>
</div>
